[user]
	name = Heidar Bernhardsson
	email = heidar@hey.com

[core]
	editor = code --wait

[push]
	default = current
[pull]
	rebase = false
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
